[2018-12-07 21:12] twexler opened #7 "REFRESH_INTERVAL should have a sane default"
Currently if `REFRESH_INTERVAL` is not set in the environment, goldpinger will not update/refresh, as the zero-value of an `int` is 0. This seems counter-intuitive as a default. I think we should set this to 30s, as in the examples.

[2018-12-07 21:14] twexler opened #8 "The REST API should have a health endpoint"
Currently goldpinger's REST API doesn't have a `/healthz` endpoint, which is not ideal for a kubernetes service as you're forced to check `/` in a `(liveness|readiness)Probe`. This isn't a best practice, so a health endpoint should be added.

[2018-12-07 21:59] #7 closed

[2018-12-13 17:59] eahrend opened #11 "Feature Request - RBAC Access"
Not sure if this is on the roadmap or not, but is there a possibility to use the kubernetes RBAC access to allow access to the metrics server? Ideally I should be able to provide the following:

[code]
Currently providing this will cause the container to crash.

[code]

[2018-12-13 18:01] eahrend commented on #11
Testing.

[2018-12-13 18:12] eahrend commented on #11
No longer crashes, however I'm getting this error:

[code]

[2018-12-13 18:22] eahrend commented on #11
For more context, our pod IPs are currently:
[code]

[2018-12-13 18:32] seeker89 commented on #11
Interesting. It seems to be listing the pods correctly, but then noone can reach anyone. What's your networking stack like ?

[2018-12-13 19:20] eahrend commented on #11
As per our discussion via IB, I can't give out the details too much on a public github repo, but we are using a self managed cluster on AWS without a overlay network. I'll do some more digging as to why pods can't reach other pods.

Tried to debug this a bit on my own by exec-ing into the pod but it doesn't look like it has a `/bin/bash` or `/bin/sh`. I'll try one of the other existing application

[2018-12-13 21:18] rapenchukd opened #12 "Race condition with data map"
On occasion goldpinger will crash. This isn't often, but it ranges anywhere from once a week to once a day. Logs suggest that there is a race condition with writing to and reading from the data map. this results in an (Exit 2)
I think this may be possibly triggered by slow I/O of some sort. But just to be safe we should have some guards in there to help prevent.

[code]

[code]

[2018-12-13 21:49] seeker89 commented on #12
Hey what version (commit) is it ?
On Thu, 13 Dec 2018 at 13:18, Drew Rapenchuk <notifications@github.com>
wrote:

--
Mikolaj Pawlikowski

[2018-12-13 23:04] seeker89 commented on #12
There was indeed a race condition, that was fixed through https://github.com/bloomberg/goldpinger/pull/5

Can you please confirm that you are running the latest commit in master branch ?

[2018-12-14 14:36] rapenchukd commented on #12
Oops! You may be right, I may have used an older version that I forked, I'll double check.

[2018-12-18 13:14] gjcarneiro opened #13 "Error response from daemon: pull access denied for mynamespace-replaceme/goldpinger, repository does not exist or may require 'docker login'"
In your README "Example YAML", the docker image does not exist.

[code]

[2018-12-18 14:04] marcosdiez commented on #13
That's because that repository does not exist. Apparently Bloomberg is not publishing the binaries.
You can just compile yourself or use a random one from docker hub, like `image: "gokulpch/goldpinger:1.0.2"` (which I found but have no affiliation whatsoever with the author)

I also had some RBAC permission issues, so this is my whole working YAML file:
The last section should be improved to harde

[2018-12-18 14:08] seeker89 commented on #13
@gjcarneiro @marcosdiez that's correct, we are not providing docker images for security reasons, and are encouraging building them from the source yourself. That's why the template has the `mynamespace-replaceme/goldpinger` portion of it.

@marcosdiez we should probably add an authorization rule in the example config to get people started even more easily.

[2018-12-18 14:31] gjcarneiro commented on #13
I honestly don't understand this "for security reasons".  If everyone did this, we wouldn't have any docker images.  Even Kubernetes itself publishes docker images (`gcr.io/google_containers/hyperkube`).  Imagine if everyone had to build their own hyperkube image?...

[2018-12-18 15:05] xrl opened #14 "Use docker hub to host image"
Could a CI (travis?) be used to upload releases to docker hub?

[2018-12-18 15:16] xrl opened #15 "Don't use sudo to build docker image"
The docker cli should not need sudo to talk to the docker daemon. On a linux system you can do `sudo usermod -aG docker $USER` and you'll get access to the docker.sock (check the ownership of the sock to make sure you're doing the right usermod). On mac os x the docker for mac will set up `docker` properly, no sudo needed.

Open to a PR to fix this?

[2018-12-18 15:31] seeker89 commented on #12
Hey, are we good to close this issue ?

[2018-12-18 15:36] seeker89 commented on #15
Sure. We touched upon this [in the thread on HN](https://news.ycombinator.com/news), but due to popular demand I don't see why not drop it. Please don't forget the `-s` flag when committing, to make the DCO bot happy 😄

[2018-12-18 16:01] xrl opened #17 "Should set GOOS in build/build.sh"
I'm on a mac and I just cut a release of goldpinger, the pod is failing because the exectuable is the wrong format. It's built for Darwin right now. In order to build for the Linux kernel you have to set `GOOS=linux`.

[2018-12-18 16:05] #13 closed

[2018-12-18 17:03] seeker89 commented on #14
Unfortunately it's currently our policy to encourage people to build their own images for compliance and security vulnerability management.

[2018-12-18 17:03] seeker89 commented on #13
@gjcarneiro Unfortunately it's currently our policy to encourage people to build their own images for compliance and security vulnerability management.

[2018-12-18 22:44] blakebarnett opened #19 "Listing all pods in the cluster is too expensive"
This triggers our alerts for etcd request latencies and starts effecting other API calls.  Likely not a problem on etcd3, but it's still probably a good idea.

[2018-12-19 09:20] XBeg9 opened #21 "Add helm chart for easier deployment"
Is there any plans to support helm charts? That would be perfect if we can deploy this thing using helm. Thanks

[2018-12-19 09:57] seeker89 commented on #21
That's a very good idea. It wasn't on our backlog, but it probably should. 👍

[2018-12-19 09:59] seeker89 commented on #17
Good find, @xrl 👍  Do you have any bandwidth to push a fix ?

There is also a multi-stage Dockerfile contributed via https://github.com/bloomberg/goldpinger/pull/18, but I think I'd like to keep both ways of building in the Makefile, at least for now, so this would still apply.

[2018-12-19 09:59] #14 closed

[2018-12-19 10:00] seeker89 commented on #12
Closing, please re-open if it turns out to still be a problem.

[2018-12-19 10:00] #12 closed

[2018-12-19 10:01] seeker89 commented on #11
From the conversation IRL, it turns out it's about the networking policies. Closing.

[2018-12-19 10:01] #11 closed

[2018-12-19 10:15] infinitydon opened #22 "Access Via Ingress"
Hi,

Is there an option to configure the deployment to use a parameter like baseURL?

I am trying to access this via an Nginx ingress, I could only get the homepage working but the remaining links are breaking (/raw, /metrics). With the baseURL, all calls will be appended to it.

My ingress config that I used:

[code]

[2018-12-19 10:50] seeker89 commented on #22
Hey @infinitydon thanks for raising the issue.

I haven't tested it with the nginx ingress, but we should definitely make it work.

I'm not sure why the base url would be needed ? Shouldn't nginx rewrite the paths in a way, that they hit `goldpinger` the same way they would if you just curled `$IP/raw` etc ?

[2018-12-19 10:52] seeker89 commented on #22
Could you paste here a curl of the ingress from the outside with a `-v` flag, so that we can see what the `Location` header resolves to ? That would help. Thanks !

[2018-12-19 11:35] infinitydon commented on #22
Hi @seeker89

First of all my ingress URL looks like this: https://ingress.domain/goldpinger/

When I click on metrics for example, the URL it is referencing becomes this:

 https://ingress.domain/metrics

The URL should be like this: https://ingress.domain/goldpinger/metrics . When I query this directly with curl I get a successful response. The problem is when I access this via a browser.

I sug

[2018-12-19 14:35] infinitydon commented on #22
Nice!..

I have edited the index.html as you suggested and created a new image and it works now..

Thanks.. Issue can be closed...

[2018-12-19 14:49] seeker89 commented on #22
Could you push a PR with the change so that others can benefit too ?

Thanks !
On Wed, 19 Dec 2018 at 14:35, Christopher Adigun <notifications@github.com>
wrote:

--
Mikolaj Pawlikowski

[2018-12-20 10:57] #22 closed

[2018-12-20 14:10] twexler commented on #21
@seeker89 I'm currently working on this, but we need to figure out a place to host the images, as there's some internal concerns with that.

[2018-12-20 14:15] twexler opened #27 "Upload a docker image to a public registry"
Currently blocks #21

[2018-12-20 17:19] #19 closed

[2018-12-20 18:14] kaduev13 opened #32 "No license header in swagger-generated files"
An execution of `$ make swagger` command generates go files without copyright header (and also, it removes this header from already existing files). It's not a big problem, but a bit annoying. What do you think about using [`swagger generate -r`](https://github.com/go-swagger/go-swagger/pull/1148) flag to add this copyright header to each generated file automatically? Another (more complicated) ap

[2018-12-20 19:41] albf commented on #27
Related: Quickstart would also benefit from better instructions. After running the first command:

`
$ go get github.com/bloomberg/goldpinger/cmd/goldpinger
$ goldpinger --help
`

The "Goldping version" seems to be an empty string and now users have to look for more information since matching the versions used for the Docker image and the CLI seems important.

My suggestions/ideas:

- Push an offi

[2018-12-20 20:00] seeker89 commented on #32
Very good point. TIL about [`swagger generate -r`](https://github.com/go-swagger/go-swagger/pull/1148) - thanks for that.

That's a great idea. We should just dump the copyright header into a `license.header` file, and update the Makefile to use the `-r` option.

Brilliant, thanks for the suggestion ! 👍

[2018-12-20 20:05] seeker89 commented on #27
You're making fair point.

All three are good suggestions. We are a little restraint considering the docker hub, for compliance reasons, but let's see what we can do.

Thanks, appreciate it !

[2018-12-20 20:06] twexler commented on #27
@albf Thanks for the feedback!

We're definitely actively working to get a docker image published publicly, hence this issue. As for a ready-to-use binary, that's a good idea (imho)

Yeah, that's definitely what we're going to do with #21. We need to tackle this issue first.

[2018-12-20 20:20] kaduev13 commented on #32
I played a little bit with this `-r` flag, and, unfortunately, it adds copyright right after the `// Code generated by go-swagger; DO NOT EDIT.` line.

Left side – master branch, right side – regenerated file with `license.header` and `swagger -r`.
![image](https://user-images.githubusercontent.com/3984307/50308798-a7e93a80-049c-11e9-914f-8c628fce916f.png)

This is how it works in default `go-swag

[2018-12-21 09:32] #15 closed

[2018-12-21 09:38] seeker89 commented on #32
Thanks so much for volunteering this work, awesome @kaduev13

Let me confirm, but I think that it should be fine. I'll get back to you on this.

[2018-12-21 12:48] XBeg9 commented on #27
@seeker89 what's wrong with docker hub? :) why you can't publish image there?

[2018-12-21 13:14] kpfleming commented on #32
You can do this if you wish, but there is no need for a copyright or license header on an autogenerated file; since it is machine generated, there is no copyright on its contents. If having the header will satisfy other processes or concerns, it's not harmful, though.

[2018-12-21 13:42] #32 closed

[2018-12-21 15:31] seeker89 commented on #27
@kpfleming will be able to give you more details on that.

Actually, something like this would be nice, self-contained and pretty easy to add.

[code]

[2018-12-21 15:51] kpfleming commented on #27
Our company policy is that we do not publish images on DockerHub because we do not have a good way to satisfy the source code delivery obligations of the licenses on the software contained in the images, and we don't want to be responsible for producing updated images to address security vulnerabilities.

[2018-12-21 17:07] kaduev13 commented on #27
@seeker89

it looks very similar to [`ksonnet` approach](https://ksonnet.io/get-started/) 😄
![image](https://user-images.githubusercontent.com/3984307/50354225-22709380-054b-11e9-8960-40797837eae9.png)

[2018-12-21 17:58] #17 closed

[2018-12-22 11:34] vishwavijayverma opened #37 "goldpinger pod CrashLoopBackOff"
Hi,
I am trying to run goldpinger in minkube ,but unable to bring goldpinger pod. A pod is crashing. Please find below version of kubernet
rsion: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:21:50Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Inf

[2018-12-22 11:50] kaduev13 commented on #37
Hi! Could you please provide the reason of `CrashLoopBackOff`?
`$ kubectl describe pod your_pod_name -n namespace_of_the_pod`
`$ kubectl logs your_pod_name -n namespace_of_the_pod`

[2018-12-22 12:56] vishwavijayverma commented on #37
Now pod is running with the image docker.io/gokulpch/goldpinger:1.0.2. But I am unable to get UI.

I am running below command
kubectl port-forward --namespace=default goldpinger-g4kpk 30080

Getting error
1222 18:23:00.012230   77265 portforward.go:331] an error occurred forwarding 30080 -> 30080: error forwarding port 30080 to pod d76b3c048b71de2dac395134c2edf19e581014747503277a3a475c40f5e5ffac,

[2018-12-22 13:37] kaduev13 commented on #37
Could you please try `kubectl port-forward --namespace=default goldpinger-g4kpk 30080:80`? Looks like `goldpinger` is listening port 80, but you are trying to forward ports 30080->30080.

[2018-12-22 13:43] vishwavijayverma commented on #37
Thanks, Freund
Yes, you were correct, I was doing wrong port forward. Now it's working

Thanks
Vijay

[2018-12-23 03:59] vishwavijayverma commented on #37
Hi ,
unable to see others pod by goldpinger.
I am running goldpinger locally on minikube, installation is working fine as expected, but a graph is not displaying other connected pods.

I also applied below configuration.

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: vi

[2018-12-23 08:39] kaduev13 commented on #37
Hi!
Each vertex of the graph is a node, not a pod. How many nodes do you have in your cluster (`$ kubectl get nodes`)? Minikube (AFAIK) provides only one node by default, and it means that your graph contains only one vertex (this node).

[2018-12-23 10:32] vishwavijayverma commented on #37
Hi Kaduev,

I am not sure, you are correct I have only one node. But during a video, https://youtu.be/DSFxRz_0TU4. He scaled deployment, that brings more pod. Am I understand wrong???

Vishwass-MacBook-Pro:turnero vishwa$ kubectl get nodes
NAME       STATUS    ROLES     AGE       VERSION
minikube   Ready     master    232d      v1.10.0

[2018-12-23 10:39] kaduev13 commented on #37
**Spoiler**: I'm not the author of this package, just started using it few days ago 😄

Sorry, I was unclear. There will be as many vertices in a graph as many `goldpinger` pods you have up and running. I don't see any idea why to have more then 1 `goldpinger` pod per node (except testing in minikube) and that's why my comment above is wrong (I'll update it to not to mislead others).

Regarding you

[2018-12-23 11:03] seeker89 commented on #37
Hey, sorry if it wasn't clear in my demo - I initially deployed the `DaemonSet` but that produced a not-so-exciting graph: https://youtu.be/DSFxRz_0TU4?t=571

So in order to show a bit better what the UI looks like, I then used [another deployment to produce more pods](https://youtu.be/DSFxRz_0TU4?t=595).

The deployment I used was literally just this:

[code]

@kaduev13 thanks so much for helping

[2018-12-23 11:37] kaduev13 commented on #37
@seeker89 thank you and all of the authors for open-souring the project  😄 I was looking for something like this and even wanted to implement it myself, but then found `goldpinger` and happy with it 👍

[2018-12-23 12:42] vishwavijayverma commented on #37
Hi Kaduev,

My friend, I am running only a single pod.  @seeker89 my friend would you like to suggest how I can get a complete graph. I really excited about your project and I am sure I will bring a lot of advocacy. Please help me.

[2018-12-24 11:56] kaduev13 commented on #37
@vishwavijayverma
1. `goldpinger` pods are trying to communicate with each other;
2. if you have only one `goldpinger` pod, then it won't ping any other `goldpinger` pods (because there are no such pods);
3. in order to build a nice graph (>1 vertices) you need >1 running `goldpinger` pods;
4. there are a lot of different ways to create >1 `goldpinger` pods:
    - [`DaemonSet`](https://kubernetes.

[2018-12-24 14:10] vishwavijayverma commented on #37
@kaduev13 thanks for your suggestion. I am able to see complete vertices Graph. But my question is my goldpinger pod not showing any vertices for existing running pod.
Vishwass-MacBook-Pro:goldpinger vishwa$ kubectl get pods
NAME                                        READY     STATUS    RESTARTS   AGE
goldpinger-cp24m                            1/1       Running   0          14h
goldpinger-deploy

[2018-12-26 18:57] marcosdiez commented on #21
I know this is not a full blown helm chart, but it kind of gives you the same results: https://github.com/bloomberg/goldpinger/pull/38

[2018-12-27 21:33] #37 closed

[2018-12-27 21:39] seeker89 commented on #21
Merged in 😄

[2018-12-30 15:04] jkroepke commented on #27
@kpfleming If your go binary is static you can build images `FROM scratch`. So your image does only contain your go app nothing more.

[2018-12-31 09:28] jpmondet opened #39 "Offline usage"
Hello !

First, thanks for this interesting project !

Maybe I did something wrong but it looks like the UI is not usable offline.
I'm not a UI expert but it seems like it's trying to contact Cloudflare (and other CDNs) for some JS files, thus the UI is not fully working on an offline setup.

Would it be possible to embed those JS files needed by the [index.html](https://github.com/bloomberg/goldp

[2018-12-31 13:49] dannyk81 opened #40 "Include PodSpec.nodeName as a label in goldpinger_peers_response_time_s_* metrics"
Hey guys!

Super cool project, we've recently deployed this in our clusters and it's proving to be super useful.

I was wondering if it would be possible to add a `nodeName` label to these (`goldpinger_peers_response_time_s_*`) metrics so it would be easier to identify the target nodes being probed.

the node name should be available in the `PodSpec.nodeName`

[2019-01-02 10:05] seeker89 commented on #40
Glad we could help !

I don't see why not - it would put some extra strain on Prometheus with the extra time series, but it would indeed make for better graphs and alerts.

👍

[2019-01-02 10:07] seeker89 commented on #39
Yep, you're right - they are currently just linked from a CDN. We could definitely embed it - download the files to `/static` folder, and change the references in the `/static/index.html` file.

Good idea 👍

[2019-01-02 16:34] kpfleming commented on #27
In the specific case of Go, you are correct that the situation is better than it would be for other applications. It's not just 'your application' in the binary, though, it's your application plus the Go runtime and any other Go modules on which your application depends.

[2019-01-02 17:50] jkroepke commented on #27
OK.

If this is your view of things ...

[2019-01-02 17:52] kpfleming commented on #27
I'm certainly willing to consider this specific request if we can document the dependencies (and their licenses/obligations) thoroughly; obviously the dependencies themselves are already known, but I'm not familiar enough with the Go build system to know whether license information will be harvested from them.

@seeker89 is it possible to build an image for this tool starting from the 'scratch' ba

[2019-01-02 20:24] seeker89 commented on #27
This is precisely how we're building it (and what the documentation
suggests).

If it's about computing the dependencies trees.and extracting their
licences, unfortunately judging by the reaction to
https://github.com/golang/dep/issues/1855 it doesn't look like dep will
support that any time soon.

A 10 second search does reveal some other, promising-looking options, like
https://github.com/pmezar

[2019-01-03 18:04] #8 closed

[2019-01-04 07:10] akhy commented on #40
👍

seeing at the source, it seems the code only care about HostIP of ping targets (at least in the prometheus metrics). I believe it'd be more useful when debugging issues if we can somehow give more context of the target nodes.

In the monitoring dashboard/alerting, instead of this

this would be better

[2019-01-04 19:07] jpmondet commented on #39
Great, thanks ! I'll see if I can make it work and maybe submit a PR after that :-)

[2019-01-07 16:41] seeker89 opened #43 "Add latencies on graph edges ?"
I noticed the fun spinoff here https://github.com/vmarchaud/consul-topology-visualizer#inspiration

And in the spirit of cross-pollination I'm wondering - would people find it useful to display the latencies on the edges ? It looks kind of neat, although will only really be useful for smaller graphs, and is also redundant with the metrics already exported. It could be a checkbox on the UI.

Though

[2019-01-09 20:32] jpmondet commented on #43
That's a very good idea ! :+1:
This could even go further by colorizing the edges depending on the latency.
I don't think it's heavy/redundant since it's not necessarily the same guys that use the UI and the ones that leverage the metrics :-)

[2019-01-15 13:15] ficofer opened #45 "Is there an easy way to change the label key"
Team,

Is there an easy way to change the way GP see other pods, in practice, make the label key `app` to something different?

Thanks!

[2019-01-15 13:17] kaduev13 commented on #45
Hi!

Looks like it's not documented, but such a feature was already introduced: https://github.com/bloomberg/goldpinger/commit/d93a43d68b5274b56d3220d3b206ed0986f0e78f

[2019-01-15 13:52] ficofer commented on #45
@kaduev13 Thanks !! I try that, yes adding the label to the yaml of the daemon set ```LABEL_SELECTOR:  goldpinger=yes```

But it does not look to be grabbing it.

From what I see this was released in tag 1.1.0 that is the one I am using.

[2019-01-15 13:52] seeker89 commented on #45
Correct, thanks for the quick response @kaduev13

@ficofer if you feel that this should be documented, please feel free to submit a PR to the README. Thanks ! 👍

[2019-01-15 14:10] ficofer commented on #45
@seeker89 and @kaduev13 thanks for the answer!!

Yes I will submit the PR with the Doc to set up the Label, but first I will like to make it work to be sure the README is ok!

I am trying to test the latest version of the code with master (building it locally) but with the build local image I get this issue is it related:

[code]

[2019-01-15 14:52] ficofer commented on #45
I was able to fix that adding this to the Makefile:

[code]

[2019-01-15 14:52] seeker89 commented on #45
How are you building it ?

What did you read and where ?

From the error message, it looks like you've built the binary for a different OS than you are running it on (macOS ?). In order to run in docker, it needs to be compiled for linux.

The easiest way to build it is through `make build-multistage`, which will build for linux.

Alternatively, you can use `GOOS` to override the binary OS when bu

[2019-01-15 14:52] ficofer commented on #45
I was able to fix that adding this to the Makefile:

[code]

[2019-01-15 14:55] seeker89 commented on #45
This means that it can't connect to the pod directly on the port that it's expecting, but it seems to be resolving it right. You'll need to check your networking policies, if any.

[2019-01-15 16:01] #45 closed

[2019-01-22 12:18] marcosdiez opened #46 "Also test if each node is resolving DNS properly?"
Somehow, today I created a new k8s cluster. With goldpinger I could easily check that all of them talk to each other, but it took me a lot of time to find out that one of the nodes was not resolving DNS. (all the others were).

I believe gold pinger would be the perfect tool to check that. It would also check if the nodes are talking to the outside world, which is also a great diagnostic.

[2019-01-22 16:37] seeker89 commented on #46
This sounds like a great idea to me. 👍

I'm wondering what would be the best thing to periodically try to resolve.

[2019-01-23 17:47] JoshuaOliphant opened #47 "Question: Why http?"
I've been trying Goldpinger out recently, and have been finding it useful already. I was looking through the code, and was curious why you chose to do http monitoring, rather than tcp or icmp pings?

[2019-01-23 18:14] seeker89 commented on #47
Hey, glad you are finding it useful !

We started with HTTP, because it was the most common use case at the time, and it tests the underlying layers too. From SRE perspective, it's probably more interesting to know HTTP connectivity goes through, rather than ICMP, but it of course depends on what you're doing.

Someone has suggested doing actual ICMP pings, and it's likely to appear at some point

[2019-01-23 21:34] JoshuaOliphant commented on #47
That all makes sense, thanks for the quick response. I was going to suggest timing the response when receiving the first byte, but if ICMP pings appear at some point anyway I suppose that won't matter. Plus maybe getting the timing after the whole response gives a more realistic idea of how the network is behaving at the http level?

[2019-01-24 14:13] marcosdiez commented on #46
How about something to big to be affected like google.com or amazon.com ?
It could also be a setting.

[2019-01-24 15:43] seeker89 commented on #47
Yup, yup and yup, respectively.

[2019-01-24 15:44] seeker89 commented on #46
I think that in most cases, neither one of these should be resolvable from your production environment.
I guess we could add this as an option and let the user decide what to resolve.

[2019-02-05 19:48] thegedge commented on #43
We've been working on some network observability tooling @Shopify, inspired by Microsoft's PingMesh paper. We've come up with this so far:

![latency grid](https://user-images.githubusercontent.com/833576/52298915-236e5080-2952-11e9-93b4-10292259ff55.png)

- Each row represents a node sending out a ping, each column a node receiving a ping.
- The dark cross is a failing node.
- Green, yellow, and

[2019-02-05 23:46] audip commented on #27
Howdy @seeker89, any updates on this?

We are maintaining a fork of this project to build it on GCR, but an official docker hub image will help us delete our fork and rely on the releases of goldpinger.

[2019-02-06 12:02] seeker89 commented on #43
Hey @thegedge thanks a lot for putting this forward.

__TL;DR__: We really like this idea, and would absolutely welcome the contribution.

A few thoughts, in no particular order:
- I like how this representation allows for a compact view of larger clusters, than what can be easily viewed as a graph,
- there is probably a lot of tweaks that can be made to it, and that could probably be configurable

[2019-02-06 14:32] thegedge commented on #43
I've discussed this with my team, and it's definitely another possibility. The hard thing about it is that these are just static files, so the best I think we'll be able to do is perhaps put some JS constants at the top of the file that people could tweak for their own preferences. Another option would be to set up a `make` target to compile the static files from templates.

We have lots of cluste

[2019-02-06 17:18] seeker89 commented on #27
Howdy. We made some progress, hopefully shouldn't take long from here. Fingers crossed 🤞

[2019-02-06 17:27] seeker89 commented on #43
I'm not sure I understand that bit. I initially thought it was an actual image being produced - do you mean that's a dynamically build HTML + CSS ? Or do you mean SVG or equivalent ?

We could probably just have a dropdown at the top bar of the UI, that allows you to pick some options ? Or something along these lines ?

This is intriguing. I'd probably assume that something's seriously wrong, if a

[2019-02-06 18:26] thegedge commented on #43
Yep, it's an `<svg>` that gets populated using d3.js to supply data via the `/check_all` endpoint.

I'll just make these settings be JS variables with hardcoded values for the first PR, with (eventually) a follow-up PR that adds in some UI elements to configure them. How does that sound?

Agreed, and I'm looking into that. I'm thinking the problem could potentially be the use of wall-clock time wi

[2019-02-07 21:53] mzizzi commented on #46
It could also be a setting.

I came here looking for this feature. :+1: on the feature and leaving the target hostname configurable.

[2019-02-12 16:41] seeker89 commented on #43
Hey @thegedge just checking in how that's going ? Do you need any assistance ?

[2019-02-12 20:24] thegedge commented on #43
Sorry for the lack of communication, @seeker89. I've been caught up on some changes for our own internal project which have been keeping me busy

Unfortunately this means we are no longer using goldpinger, but I did want to make this visualization available to the project. You can find it here: https://github.com/bloomberg/goldpinger/compare/master...Shopify:add-latency. There's still some work to

[2019-02-15 17:34] seeker89 commented on #43
That's a real shame. What did you decide to build instead ?

[2019-02-19 15:00] thegedge commented on #43
We ended up rebuilding a stripped down pinger, without all the bells and whistles (no API, no swagger, no static file serving). Now we're focused on a federated Prometheus cluster, with a central dashboard to combine all of this data across clusters in a useful visualization (likely something similar to the screenshot I posted above).

Honestly, the primary reason for us making this move is the ab

[2019-02-20 11:45] seeker89 commented on #43
I would be curious to know why the bells and whistles were a problem ? They don't really add much of an overhead in any meaningful way ?

That's something the community could definitely benefit from. If you keep the prometheus metrics compatible with `goldpinger`'s, maybe we could reuse the same dashboard !

Either way, good luck, and keep rocking!

[2019-02-20 17:04] seeker89 commented on #39
This has been resolved via https://github.com/bloomberg/goldpinger/pull/44

Thanks @jpmondet !

[2019-02-20 17:04] #39 closed

[2019-02-22 14:27] stuartnelson3 opened #52 "Proposal: Allow limiting number of pods a single goldpinger "pings""
For larger clusters, it becomes prohibitively expensive cardinality-wise to scrape and store the metrics from every pod connecting to every other pod (n^2 timeseries growth).

We aren't necessarily interested in seeing that 95% of pods aren't able to reach the 5% that are in a rack with some sort of networking issue, just that each pod is being contacted by a large enough subset of goldpingers tha

[2019-02-22 16:05] seeker89 commented on #52
I think that's a good idea, and it widens the number of use cases covered. Therefore: 👍

I'm wondering what would be the best way of choosing the subset of calls to make. We could probably just sort them, and then take N IPs that come after our own in that order, as a simple algorithm that makes it easy to pick N that covers all the nodes.

What did you have on your mind ?

Awesome, glad you're fi

[2019-02-22 17:07] stuartnelson3 commented on #52
I was thinking of taking a look to see if there's a good pre-existing rendezvous hashing library, primarily to ensure randomness of selection.

https://en.wikipedia.org/wiki/Rendezvous_hashing

[2019-02-27 22:18] seeker89 commented on #52
So I guess we are talking about two use cases here:

1) having all the clients independently agree on the same subset of nodes to ping; which is good to verify N nodes to be reachable from everywhere else, and that a rendezvous hashing would allow,

2) having each node ping a predictable subset of N nodes, in a way that allows for N to be picked so that we can get all nodes pinged by some other no

[2019-02-28 11:24] stuartnelson3 commented on #52
Sounds good to me!

A third point that could be added is that as new nodes are added or old ones removed, a rendezvous hash should minimize the disruption in assigning nodes to clients. If we were to do a simple "assign the next N nodes in the list retrieved from the kubeapi to the client", a change in the list would result in pinging completely new nodes, which would cause a completely new set of

[2019-03-01 10:48] stuartnelson3 commented on #52
`--ping-algorithm=uniform`, what does `uniform` imply? that all nodes are being pinged? if so, it could be implied by `--ping-algorithm=0`.

[2019-03-01 17:19] seeker89 commented on #52
I mean the option 2) from my previous comment - so basically taking N next IPs from the sorted list after own IP. Perhaps `uniform` is a terrible name 😄

[2019-03-04 10:14] stuartnelson3 commented on #52
Playing devil's advocate (and as someone who maintains a project that has way too many knobs to configure), is there a reason someone would care about the distribution? I'm wondering if it's necessary.

[2019-03-04 12:52] seeker89 commented on #52
Fair enough - let's address that when/if a need arises.

[2019-03-05 17:48] #43 closed

[2019-03-07 20:34] vjanelle opened #54 "Monitoring other endpoints?"
Is there an option to check / graph other endpoints?

The general idea is that I'd like to check an external resource, like an external service.

[2019-03-11 18:48] kpfleming commented on #27
I'm working on this now as I'll need to manage the credentials on the Travis-CI end of things.

[2019-03-12 22:53] seeker89 commented on #27
This has now been done via https://github.com/bloomberg/goldpinger/pull/55

You can now grab a prebuilt image from [https://hub.docker.com/r/bloomberg/goldpinger/tags](https://hub.docker.com/r/bloomberg/goldpinger/tags) with a simple `docker pull bloomberg/goldpinger`

[2019-03-12 22:53] #27 closed

[2019-03-14 21:54] hipyhop commented on #54
I'm not sure about the future of goldpinger but this doesn't sound to me like what this project was intended for.

For external or blackbox monitoring we use blackbox_exporter and Prometheus to periodically ping sites and report on status. This supports http(s), DNS, TCP & ICMP.
There are also a number of Third party services like Pingdon and Route53 Health Checks that can hit publicly accessible

[2019-03-14 22:56] seeker89 commented on #54
It has been suggested before, but since there are already tools doing that like @hipyhop mentioned, it's not currently planned.

Unless there is some really interesting use case, that isn't covered by what's already existing.

[2019-03-14 22:58] seeker89 commented on #52
This has now been resolved via https://github.com/bloomberg/goldpinger/pull/53

It's available in version `1.5.0`. Thanks @stuartnelson3  !

[2019-03-14 22:58] #52 closed

[2019-03-14 23:01] seeker89 commented on #21
Ping. https://github.com/bloomberg/goldpinger/issues/27 is now resolved, and the images are being pushed to `bloomberg/goldpinger` on docker hub.

[2019-03-14 23:04] seeker89 commented on #47
OK, so maybe let's do it this way. We'll implement TCP checks as soon as this issue reaches 10 thumbs up. Fair ?

[2019-03-15 03:52] vjanelle commented on #54
Well, by "external" I meant "externalName", and not necessarily public on the internet.  Pingdom and route53 health checks wouldn't apply here(is neither on the internet, nor on AWS, or exposing a Prometheus endpoint.)

[2019-03-15 05:26] okgolove commented on #21
Good news!
As often happens, my previous PR to helm/charts was ignored.
I've recreated it and have used your docker repository.

https://github.com/helm/charts/pull/12205

[2019-03-15 12:04] pedroperezmulesoft commented on #47
Thumbs up to that! 😄 👍

[2019-03-15 12:06] pjperez commented on #47
Thumbs up to that! 👍 😄

[2019-03-15 18:39] vjanelle commented on #54
Yup, that was my general thought.

[2019-03-16 14:06] seeker89 commented on #21
Awesome. The folks at helm do seem to have quite a bit on their plate, but hopefully they'll  merge it in.

[2019-03-17 15:41] dannyk81 commented on #40
Hey @seeker89 :smile:

Do you think this is something you would consider implementing in the near future? we particularly feel the this is missing for alerting, where we know some node(s) are unhealthy but can't pinpoint from the metrics.

[2019-03-17 17:00] seeker89 commented on #40
Hey @dannyk81 !

Now, that we've merged https://github.com/bloomberg/goldpinger/pull/53 in I think we can add some more context to the metrics.

So, just to make sure I understand what your use case is - what extra labels on which metrics do you need ?

[2019-03-17 18:12] dannyk81 commented on #40
Great news!

I'll try and summarize our current experience:
1) `goldpinger_peers_response_time_*` - these metrics have the `pod_ip` and `host_ip` labels of the pod being probed, but not the `host_name`.

2) `goldpinger_nodes_health_total` - this metric is useful, however currently very difficult to use (for alerting and troubleshooting), since it provides a way to alert when nodes are misbehaving

[2019-03-17 18:50] dannyk81 opened #57 "Add liveness/readiness endpoints"
I think this would be beneficial and will ensure accurate results, i.e. avoid false-positive due to some internal issue in one of the goldpinger pods.

[2019-03-17 20:10] seeker89 commented on #57
That's already implemented. See the swagger spec:

https://github.com/bloomberg/goldpinger/blob/86064f208ec99927b8dd9f717a93cbd22bb8b2fe/swagger.yml#L139-L158

We should probably update the example in README to add that in.

[2019-03-17 20:42] dannyk81 commented on #57
indeed! apologies for the noise, I will update my manifest accordingly.

[2019-03-17 22:04] seeker89 commented on #57
Actually, since you didn't find it, there is a good chance, that others won't either.

Would be so kind to add a PR to the README file with the health probe ? Thanks !

[2019-03-18 01:02] dannyk81 commented on #57
sure thing, see #58

[2019-03-18 09:56] #57 closed

[2019-03-20 12:43] dannyk81 commented on #40
wdyt @seeker89?

I tried going through the code yesterday to see if I could work out how to implement this, but to be honest getting a bit lost... it seems like the podIPs (and hostIPs) are used as primary identifiers almost everywhere and passed around in ad-hoc maps, I suppose we'll need to define a struct for that and use it throughout the code?

Generally, I think it would be great if we could

[2019-03-26 22:30] seeker89 commented on #40
Some good points here. I'll have a look when I get some free bandwidth. 👍

[2019-04-15 12:06] okgolove commented on #21
Yeah! The chart has been merged.

[2019-05-02 14:34] SleepyBrett commented on #54
@seeker89 I was just coming to ask for this feature. We've been running into a rare issue where something goes wrong with the networking stack and one of our nodes wouldn't nat traffic out. Having a blackbox exporter running would have a 1/<howevermanynodesihave> chance of catching that vs a deamonset.

[2019-05-02 15:35] seeker89 commented on #54
OK, I'd be glad to add a feature like this, but don't have bandwidth myself in the nearest future.
Any volunteers ?

[2019-05-31 12:42] cgreen12 commented on #46
I'm hoping to spend some time adding this over the next week or so.

[2019-07-24 12:00] khssnv commented on #47
My honour to put 10th thumb :sunglasses:

<details>
  <summary>spoiler</summary>

How about a wrapper aroud [fping](https://fping.org/)?
</details>

[2019-07-31 10:00] pandorasNox opened #62 "Question: is the type NodePort service needed to function?"
In the [README.md](https://github.com/bloomberg/goldpinger/blob/master/README.md) and the [example-serviceaccounts.yml](https://github.com/bloomberg/goldpinger/blob/master/extras/example-serviceaccounts.yml)

we got

[code]

which exposes the service to the outside world over the NodePort.

Question is: does goldpinger need it to function or can we just use a normal ClusterIP service?

Security wi

[2019-08-02 16:12] seeker89 commented on #62
No, the `NodePort` is not necessary. You could use an ingress controller, a host port, or any other means of reaching out to them.

`NodePort` is just easy to use in an example, because mostly everyone understands it.

Thanks for the question !

[2019-08-08 20:39] okgolove commented on #21
Can somebody close the issue?

[2019-08-08 20:52] seeker89 commented on #21
Resolved

[2019-08-08 20:52] #21 closed

[2019-08-09 16:21] dannyk81 commented on #47
@seeker89 there you go, I'm number 10 :smile:

[2019-08-09 16:22] dannyk81 commented on #40
@seeker89 just curious if you had a chance to look into this? :pray:

[2019-08-16 14:42] #62 closed

[2019-08-16 14:44] seeker89 commented on #40
Sorry, not yet. I did set some time for goldpinger next week, might be able to get into this.

[2019-09-06 11:23] #46 closed

[2019-10-17 16:51] parabos2001-dev opened #65 "Goldpinger helm deployment issue"
I have tried deploying goldpinger. Below is what shows in the logs when i deploy the helm chart for goldpinger.

2019/10/17 16:45:05 Metrics setup - see /metrics
2019/10/17 16:45:05 Goldpinger version: 1.0.2 build: Tue Dec 18 21:42:45 UTC 2018
2019/10/17 16:45:05 Kubeconfig not specified, trying to use in cluster config
2019/10/17 16:45:05 Added the static middleware
2019/10/17 16:45:05 Added the

[2019-10-17 16:54] seeker89 commented on #65
Could you link to the source of the helm chart you used (in the version you used) ? Thanks.

[2019-10-17 17:43] parabos2001-dev commented on #65
https://github.com/helm/charts.git --- This is where I forked the helm charts and templates from.
version of goldpinger is bloomberg/goldpinger:2.0.0-vendor from dockerhub

let me know if that sounds correct.

[2019-10-17 17:48] parabos2001-dev commented on #65
Also we are on kubernetes version 1.10 and not the latest version.

[2019-10-17 17:51] seeker89 commented on #65
What’s weird about the logs you posted, is that it seems to start OK and then shutdown some 20 seconds later, also cleanly. I’m wondering if the pod is not being evicted or something like that.

Could you kubectl describe the daemon set and he pod in question?

[2019-10-17 17:56] parabos2001-dev commented on #65
[goldpinger describe pod.txt](https://github.com/bloomberg/goldpinger/files/3740672/goldpinger.describe.pod.txt)

[2019-10-17 18:00] seeker89 commented on #65
So here's our problem:

Liveness probe failed: HTTP probe failed with statuscode: 404

[2019-10-17 18:02] seeker89 commented on #65
Looks like the helm chart has a misconfigurred liveness probe. It should be pointing to /healthz

[2019-10-17 18:15] parabos2001-dev commented on #65
Don't see any liveness probe yaml's in the helm chart templates directory.
How do it go ahead and get that corrected?

[2019-10-17 18:59] parabos2001-dev commented on #65
Changed as shown below..

        livenessProbe:
          httpGet:
            path: /healthz
            port: 80
        readinessProbe:
          httpGet:
            path: /healthz
            port: 80

Still failing on the probes...

attached kubctl describe pod
[goldpinger describe pod.txt](https://github.com/bloomberg/goldpinger/files/3740871/goldpinger.describe.pod.txt)

[2019-10-18 09:14] seeker89 commented on #65
Hmmm, this looks about right. [Here](https://github.com/bloomberg/goldpinger/blob/a2e592521045cde68a4ac0309b32dff3daba6427/extras/example-with-kubeconfig.yaml#L55-L66) is an example that we use for demos etc.

Perhaps it's just that it's not starting quickly enough, and you need to adjust the delays like in the link above. Would you like to give it a try?

[2019-10-18 13:31] parabos2001-dev commented on #65
I did try another version of goldpinger and that worked fine.
I will give the one above a try as well.

My understanding was that goldpinger will discover all the pods and display the connectivity of this in the UI, is that inaccurate because right now i see only the nodes and the goldpinger pods connectivity.

[2019-10-18 14:38] seeker89 commented on #65
If you followed something like [this setup](https://github.com/bloomberg/goldpinger/blob/master/extras/example-serviceaccounts.yml), then you are going to have one `goldpinger` per node, and see that on the UI.

The point is to verify that a pod on every node can communication with a pod on any other node, hence one pod per host via a daemonset.

[2019-10-18 17:21] parabos2001-dev commented on #65
ok, that helps. I did use 1.4.0 where it was succesful in deploying the daemonset without any issue.

Will look into getting the latest version running again. Thanks for help.

[2019-11-05 07:53] dorbeus opened #66 "Windows Container support"
**Is your feature request related to a problem? Please describe.**
I'm testing running Kubernetes with Windows nodes, so of course i need this tool, but there is no instruction of how to build and run this in a Windows container.

**Describe the solution you'd like**
A instruction of how to build this on a windows container and preferably a pre-build container on docker-hub
A instruction of how to

[2019-11-05 10:52] seeker89 commented on #66
It's a good point. I have no experience with Windows Containers, but I'd be happy to assist anyone who'd like to give it a shot.

[2019-11-07 22:58] kevinkim9264 opened #67 "goldpinger UI fails if a node is in bad state."
**Describe the bug**
When I disable a node (i.e. manually stop a VM, or kills flanneld service, etc), I expect to see red mark on that particular node in goldpinger UI. However, the entire goldpinger UI fails. This happens even if I port-forward other goldpinger pods in healthy nodes.

Is this an expected behavior? If so, doesn't it defeat the purpose of using goldpinger UI when a node is in bad s

[2019-11-07 23:26] kevinkim9264 commented on #67
For more info, this is the case where ping would hang, instead of immediately returning error code. Will that be a possible reason why the UI just hangs and doesn't show?

[2019-11-08 11:06] seeker89 commented on #67
This looks like a regression. Will try to reproduce and report back.

[2019-11-08 11:42] seeker89 commented on #67
Could you paste a sample output from a call to `/check_all` ? That would help debugging. Thanks!

[2019-11-08 15:55] seeker89 commented on #67
OK, I could reproduce the behaviour. Would you like to take https://github.com/bloomberg/goldpinger/pull/68 for a spin and confirm it works in your case?

[2019-11-08 16:51] kevinkim9264 commented on #67
@seeker89  thank you! will try it and let you know

[2019-11-08 17:21] kevinkim9264 commented on #67
@seeker89 unfortunately the problem persists. The behavior is a little different though:
instead of throwing weird error, it just hangs and shows white page.

[2019-11-08 17:24] kevinkim9264 commented on #67
`/check_all` would show this result after some time:
[code]

[2019-11-08 17:30] kevinkim9264 commented on #67
The behavior in safari is also different, as it throws error:
<img width="1329" alt="Screen Shot 2019-11-08 at 9 29 49 AM" src="https://user-images.githubusercontent.com/6677811/68497848-5956a300-020a-11ea-9c41-31fa79109d70.png">

[2019-11-08 18:14] kevinkim9264 commented on #67
Ok. So it works properly if a pod is in bad state. (manually making a goldpinger pod in invalid state). However, if a node's networking is messed up (i.e. ping hangs, instead of returning error right away), then goldpinger UI would hang.

[2019-11-08 19:06] seeker89 commented on #67
Thanks for taking it for a spin. In that case we should tweak the logic displaying things, when there is not enough data. I should be able to sit down to it next week. Cheers!

[2019-11-08 19:07] kevinkim9264 commented on #67
@seeker89  thank you again for the quick response! I will look forward to the fix :)

[2019-11-12 20:15] jqport opened #69 "Long Ping Times"
Hi, this is looks to be a really neat project and I love the name.

When I tried to install via Helm chart the default Grafana chart showed very long "ping" times; circa 2 seconds for some larger clusters and even a ten node cluster is showing ~1 second ping times.

I set up another service to run requests against the /ping endpoint that Goldpinger exposes and saw the expected low ping times (circ

[2019-11-12 21:41] seeker89 commented on #69
Are we talking about the single popping times or the time to generate the full graph?

[2019-11-12 21:47] jqport commented on #69
The Connections to Peers/Connections to Kubernetes API graphs.  The 99% graph shows around 2 seconds in a 250 node cluster, 1.1 for the 95%, and 500 mills for the 50%.

I made a new build and instrumented out the calls a bit and the reported time seems accurate.  But when I hit the /ping endpoints directly from pods with other tools like a timed curl the time seems much more reasonable (~a few mil

[2019-11-13 20:41] seeker89 commented on #69
It does sound slower than it should. I'm wondering if your pods didn't end up synchronising - there is unfortunately no jitter for the updater. How long does a call to /check_all on any instance take?

[2019-11-13 21:42] jqport commented on #69
The /check_all calls are taking just over 75 seconds.

[2019-11-13 23:13] seeker89 commented on #69
Ask right - I guess we'll need to dig a little deeper to see what's going on.

Is there anything noteworthy about your networking stack? IDF there any other traffic?

We're hitting a bottleneck somewhere. One way of pinning it down would be to transform the daemonset into a deployment with anti affinity and decrease the number of replicas until we start seeing reasonable numbers. When we get there

[2019-11-13 23:19] seeker89 commented on #69
Also, it might be useful to simulate 250 concurrent connections to a replica to see how well it fares when all neighbors are calling.

The 50p at 500ms for /ping is worrisome. Unless the metric/graph is wrong and shows /check times ?

[2019-11-29 10:10] skraga commented on #69
Hi,
the problem with a large number of nodes (~250) was with default CPU requests/limits. After I've increased CPU (from 100m) it starts to show a way better results in graphics.

[2019-11-29 10:39] seeker89 commented on #69
That makes a lot of sense. We should probably at least add a comment about that to the example yaml.

[2019-12-02 10:25] seeker89 commented on #69
Closing now. Feel free to re-open if you find anything that needs fixing.

[2019-12-02 10:25] #69 closed

[2019-12-02 18:52] kevinkim9264 commented on #67
@seeker89 did you get any chance to fix this issue? thank you

[2019-12-05 20:33] seeker89 commented on #67
Sorry, haven't gotten to that yet.

[2019-12-19 17:14] carlpett opened #73 "Remove "stuff: will_be_there:true""
**Describe the bug**
When entering the UI, a modal flashes past quicky, which is a bit distracting:
https://github.com/bloomberg/goldpinger/blob/58285945f68b28da9bd2416e5c5c25a1375c943c/static/index.html#L203

**To Reproduce**
1. Go to UI

[2020-01-03 21:32] akrzos-bw opened #74 "Missing "response-time-ms" when querying check api"
**Describe the bug**
Running `curl $IP:8080/check` on a goldpinger pod some of the returned results are missing field "response-time-ms".  Are values less than 1ms just missing?

**To Reproduce**
Steps to reproduce the behavior:
on a kube cluster with a sufficently low enough network latency you'll see statuc-code 200s returned but no "response-time-ms" field:

[code]

**Expected behavior**
The fi

[2020-01-10 13:40] #65 closed

[2020-01-16 02:57] lixwlixw commented on #73
I have the same problem

[2020-01-18 19:35] seeker89 commented on #73
Fun fact: that modal actually dates back to the first version of goldpinger, which was slower especially on larger clusters :)

I think that we could do without it now. I've marked the issue as `good first issue`.

Thanks for raising that!

[2020-01-26 07:14] kristoflemmens commented on #67
Him any update on this. Maybe I can help. Haven't got any experience with this but why not learn.

[2020-01-26 16:50] seeker89 commented on #67
@kristoflemmens that would be great and much appreciated. I haven't been able to find time since November!

[2020-03-25 09:02] Leen15 commented on #67
Hi, any update?

[2020-04-04 09:57] seeker89 opened #80 "Fix the example kubernetes yaml files"
The example in README is incomplete. The example in extras is out of date (`goldpinger` version). We should also add an ingress definition as an alternative to NodePort.

[2020-04-07 13:40] #67 closed

[2020-04-30 16:46] mtougeron opened #84 "[feature request] topology.kubernetes.io values in metrics"
It would be awesome if the metrics could include the node's topology.kubernetes.io/region & topology.kubernetes.io/zone (not sure what the non-AWS fields are called). That would help quickly identify patterns in the results. e.g., zone "a" is slower than zone "b" or that cross-zone traffic is what's causing a large spike in response times. Not sure if this is possible within the framework of this

[2020-04-30 16:53] seeker89 commented on #84
These [annotations](https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#topologykubernetesiozone) seem to be popular.

I think that's a great idea. It would need to (optionally) broaden the privs to also list nodes, and then match its own pod to the node to populate the extra labels. It's a 👍 from me.

Now just someone needs to find a couple of hours to add it :)

[2020-04-30 17:26] mtougeron commented on #84
haha the even present "find the time" bug. i hear that. :)

[2020-05-13 16:51] seeker89 opened #86 "Goldpinger starts so quickly it often gets pods without IPs"
Goldpinger starts quickly, which is good, but it has an interesting side effect: often when it first lists pods, kubernetes doesn't list their IPs. With the current implementation, it often takes 30 seconds to restart the updaters goroutines. During these initial 30 seconds, graph and metrics are unhealthy.

It would be good to enhance it, so that if the pods don't have IPs, we retry to get them q

[2020-05-26 22:52] dharmab opened #87 "Goldpinger is too sensitive to autoscaler activity"
**Describe the bug**

The order of operations for removing a node is:

1. Cluster autoscaler removes VM from the underlying cloud provider
1. Node object enters NotReady state since the Kubelet process stops reporting
1. Cloud Controller eventually notices that the VM is gone and removes the Node object

The time between 2 and 3 can be quite long (many minutes in some clouds). Goldpinger continuou

[2020-05-26 23:41] dharmab commented on #87
Here's another case- a cluster had an autoscaler mass scale in event, which caused goldpinger to incorrectly report 23% of the network was failing.

![image](https://user-images.githubusercontent.com/4450708/82960543-08c15000-9f78-11ea-9101-643d355c241a.png)

![image](https://user-images.githubusercontent.com/4450708/82960552-0fe85e00-9f78-11ea-9e33-5f74bdced281.png)

[2020-06-09 10:15] saiharshitachava opened #88 "Can I use single ds of goldpinger to get graphs from all namespaces?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2020-06-10 07:51] seeker89 commented on #88
Goldpinger makes a graph of all other goldpinger pods. If you install it in a different namespace, that's fine, just make sure that you're using the right selector.

[2020-07-08 18:52] k0nstantinv opened #90 "goldpinger metrics explanation"
Hi ! I find goldpinger very useful, but I totally can't understand his metrics meaning. Can you explain, please?

1.

[code]
`4` as result here. What does that mean exactly?

2.

[code]
`8` as result here. What does that mean exactly?

[2020-07-08 18:57] seeker89 commented on #90
It means, that the instance `goldpinger_instance="node22"` saw 4 peers (nodes/pods) in status `,status="unhealthy"` the last time it checked.

The `goldpinger_instance="node30"` instance saw 8 peers unhealthy, although I'm not sure why the two sets of labels are different in the two cases.

Hope that helps!

[2020-07-08 19:12] k0nstantinv commented on #90
@seeker89 thanks! Sorry for the confusion with two sets of metrics. The second set is from the prometheus job, and the first one is from the pods directly (via pod annotation). Anyway, I still can't understand how to detect unhealthy goldpinger instances for a particular goldpinger instance using the metrics?

[2020-07-08 19:22] seeker89 commented on #90
No problem. The current metrics are from the POV of a particular pod - it reports what it sees. You'd need the reverse metrics to be able to say which particular instance is seen as unhealthy. It could be added, but it's not currently there. I think that someone had asked about this before, so perhaps that's something we should add.

[2020-07-10 15:32] k0nstantinv commented on #90
Okay! Thanks, hope that metrics will be added soon

[2020-07-10 15:32] #90 closed

[2020-07-27 14:28] dntosas commented on #87
Hello people!

We have the same issue ^^ but filtering out a node because of status `NotReady` is not correct as there are cases where node instead of being marked as NotReady because of scale-down, could be labeled `NotReady` as legitimately corrupted.

So we better focus on filtering out nodes on different label/attribute like `SchedulingDisabled` or smth. What do you think?

[2020-07-27 23:11] abkierstein opened #92 "HOSTS_TO_RESOLVE as a prometheus metric"
I'd love the ability to track dnsResults generated with the HOSTS_TO_RESOLVE parameter as a metric that prometheus can ingest.

It looks like another option to get similar results is to use prometheus's blackbox-exporter...

[2020-08-20 11:53] okgolove opened #93 "Helm charts repo deprecation"
**Is your feature request related to a problem? Please describe.**
Due to [deprecating helm/charts repository](https://github.com/scottrigby/prometheus-helm-charts/pull/14) goldpinger helm chart should be moved somewhere. Do bloomberg maintainers want to create own repo for helm charts or put helm chart in the goldpinger repo?

**Describe the solution you'd like**
The chart should be moved to anot

[2020-08-23 04:07] surskitt opened #94 "Multi-arch docker images"
**Is your feature request related to a problem? Please describe.**

I am unable to use the standard docker hub image on a raspberr pi cluster.

**Describe the solution you'd like**

I'm not sure if travis supports it, but buildx can be used to build multi-arch images than can then be pushed to docker hub.

**Describe alternatives you've considered**

I have forked the repo and added my own github

[2020-08-23 14:02] DanArlowski opened #95 "Kuberenetes and Openshift Operator"
Hello, i would like to collaborate with your team for creating a goldpinger operator, for Kubernetes and Openshift.
I have most of the logic already working, based on operator-sdk
I would love if any of you could be assigned to help me.
Thanks!
have a great week.
Dan

[2020-08-23 19:11] shanedabes commented on #94
It looks like that PR is created separate images for amd64 and arch, there's a little bit more involved in creating actual multi arch images. I'll look up what's involved in doing that with travis and submit a PR then.

[2020-09-09 00:51] clly commented on #54
I'd be interested in trying to create an MR for this.

[2020-09-09 09:48] seeker89 commented on #54
Yup, definitely open to this. Note, that DNS is implemented, so I guess the scope here would be HTTP and ICMP?

[2020-09-09 13:49] clly commented on #54
That sounds good with me.

On Wed, Sep 9, 2020, 4:48 AM Mikolaj Pawlikowski <notifications@github.com>
wrote:

[2020-10-28 21:02] matt-stam opened #96 "Clarity on Master vs. Peer Response Time values"
I've been trying to interpret the difference between "master_response_time" and "peers_response_time" in the ping results. The closest thing I see is these labels in the Prometheus metrics:
[code]

This explanation still isn't very obvious, especially with the results I get from each (I've seen peer response time be lower than master response time at times). One way I've been thinking about it is

[2020-11-02 21:49] seeker89 commented on #96
Hi @matt-stam thanks for the issue!

The `kube_master_response_time_s` metric is the time it takes the particular pod to connect to the Kubernetes API to fetch the list of peers (Goldpinger instances) to ping.

The `peers_response_time_s` is the response time from the peers.

The peer response time should be consistently faster than the Kubernetes API response time. If it isn't, it would point to

[2020-11-02 21:49] #96 closed

[2020-11-09 13:30] okgolove commented on #93
Now it lives here https://github.com/okgolove/helm-charts/tree/master/stable/goldpinger

[2020-11-10 08:32] austintackaberry opened #97 "When PING_NUMBER is nonzero, there are many nodes that are immediately marked as unhealthy"
**Describe the bug**
If I start off with 50 healthy nodes and then set PING_NUMBER to 20, I notice that roughly 30 nodes get marked as unhealthy. It appears that 20 nodes ping 20 nodes instead of 50 (all) nodes pinging 20 nodes.

I think the bug is [here](https://github.com/bloomberg/goldpinger/blob/ca676bcbc2da02fdd5b796689ea727896ad15c74/pkg/goldpinger/client.go#L54). It seems to me that `AllPod

[2021-01-13 12:32] rtzra commented on #93
You mean: https://github.com/okgolove/helm-charts/tree/master/charts/goldpinger

[2021-01-13 20:17] okgolove commented on #93
@rtzra correct, I've changed the path.

[2021-01-22 13:30] yuripastushenko opened #99 "Unable to specify name of instances using HOSTNAME env"
**Describe the bug**
The value of env variable HOSTNAME is not applied to goldpinger instance.

**To Reproduce**
Deploy goldpinger using [yaml example](https://github.com/bloomberg/goldpinger#example-yaml):
[code]

**Expected behavior**
In UI, goldpinger instances have name of the nodes where they are placed.

**Actual behavior**
In UI, goldpinger instances have name of the pods where they are pla

[2021-06-01 21:43] nrutigs opened #102 "Default path not showing UI"
**Describe the bug**

Hi guys, big fan of the app - solves a real problem for me and my team in terms of networking monitoring.

When testing out the app I was able to port-forward a pod on my cluster, go to `localhost:8080/` and see the UI displaying the topology health however on more recent deployments every time I follow the same procedure the `/` path redirects me to `http://localhost:8080/al

[2021-06-02 09:26] seeker89 commented on #102
Hey @nrutigs

Instead of using Chrome, could you paste the output of `curl -v http://localhost:8080/` to see what is doing the redirect/how the redirect is done?

That should help debugging!

You might also consider upgrading to 3.2.0 - 3.0.0 is over a year old now :)

[2021-06-02 16:55] nrutigs commented on #102
Ive upgrade to 3.2.0.

Running `curl -v http://localhost:8080` appears to be showing some html output that looks like the UI so I'm wondering why Chrome is redirecting to an `/alive` endpoint.

[code]

[2021-06-02 17:00] #102 closed

[2021-07-08 15:10] #93 closed

[2021-07-16 18:04] data-dude opened #103 "Ping Hostname"
I'd like to configure it to ping the hostname, not the IP.  This would allow our team to test network connections using the external IP.

[2021-07-17 09:15] seeker89 commented on #103
Sure, I don't see why not. Feel free to send a PR!

[2021-08-05 03:57] bavarianbidi commented on #86
We also detected this issue in the last couple of days where we updated a bunch of k8s clusters.
I guess it might be sufficient to only get goldpinger-pods which are in `running` state - currently all pods will be used as ping-target ([code](https://github.com/bloomberg/goldpinger/blob/294b8dda19a46062aa04398844c18339f43f3b82/pkg/goldpinger/k8s.go#L47))

are you accepting a PR if we implement a fi

[2021-08-05 08:51] seeker89 commented on #86
Definitely 👍

[2021-08-26 02:57] Cerebus opened #104 "Support multiple pod networks"
Multiple CNIs can run in parallel, creating multiple data planes in a Kubernetes cluster.  Goldfinger should allow me to ping over an arbitrary data plane.

It would seem that POD_IP is the place to set this, but when I set POD_IP for each goldpinger pod to an IP on an alternative dataplane, this setting is lost after discovery; goldpinger finds the peer pods but uses the *primary* data plane IP a

[2021-11-03 14:06] tyler-lloyd opened #105 "Should support IPv4/IPv6 dual-stack"
**Is your feature request related to a problem? Please describe.**

Goldpinger should allow for IPv6 IPs to be specified in the config and ping over IPv6 rather than only IPv4.

**Describe the solution you'd like**

Setting an env var like "PING_IPV6" would use the IPv6 IP address on pods instead of IPv4.

**Describe alternatives you've considered**

I haven't tested if IPv6 was the default and st

[2021-11-08 15:41] #86 closed

[2021-11-08 18:15] #105 closed

[2021-11-09 16:49] rbtr commented on #87
https://github.com/bloomberg/goldpinger/pull/107 should help - after the node eviction timeout, pods go to terminating state and goldpinger will stop trying to reach them

[2021-11-11 17:56] ratyx commented on #87
@rbtr thank you. I will give it a go and come back with some feedback in the next days.

[2021-11-28 19:27] zout commented on #99
@yuripastushenko have you managed to solve this?

[2022-01-14 19:55] mtougeron commented on #94
I'd like to pick this up and make a PR for multi-arch build but I had two questions.

- I need this for arm64 & amd64. Are there any other architectures or OS that you'd like me to add at the same time?
- I was basically thinking of following [Multi-arch build, what about Travis?](https://www.docker.com/blog/multi-arch-build-what-about-travis/) from Docker's blog to do this, is that acceptable to

[2022-01-14 23:10] seeker89 commented on #94
I think that arm64 and amd64 is all that we need right now.

That said, I've been meaning to move off of Travis onto Github actions. I'll hopefully get to that in the next week or so, so perhaps hold off until then.

Thanks for volunteering for that @mtougeron - much appreciated! 👍

[2022-01-14 23:20] mtougeron commented on #94
Awesome, thanks. Doing it with GH actions is even easier! :)

[2022-01-16 00:59] mtougeron commented on #94
@seeker89 FWIW, I created a draft PR with the multi-arch changes + Github action for publishing. https://github.com/bloomberg/goldpinger/pull/109 I figured it might save you some time with the move from Travis.

[2022-01-23 04:35] xlanor commented on #84
@seeker89 I'd like to work on this as I do have some spare time. As I'm relatively new to the project and code base, which are some of the files I should be taking a look at?

[2022-02-16 18:04] ifelsefi commented on #99
I have the same issue on `3.4.1` with no config changes.

The web ui shows the pod name not hostnames.  I am running a 1.19 k8s cluster.

[2022-02-16 18:36] ifelsefi commented on #40
This tells you if a node is fubar:

[code]

[2022-02-16 21:32] ifelsefi commented on #40
An example latency check that works well!

[code]

[2022-03-28 21:59] pjohnst5 opened #117 "Readiness probe failed: Get "http://172.16.1.4:8080/healthz": dial tcp 172.16.1.4:8080: i/o timeout (Client.Timeout exceeded while awaiting headers)"
**Describe the bug**
A goldpinger pod gets in crashloopbackoff reporting that the readiness probe failed due to timeout

This may not be a bug per se

But I am able to create pods (we'll call these "toolbox" pods) in the same network as the gold-pinger pods.

The toolbox pods **can** listen on port 8085, and also **can** serve up traffic to other toolbox pods

Question is: why might the gold-pinge

[2022-03-29 16:18] pjohnst5 commented on #117
I should mention that I am able to `ping` the goldpinger pods just fine:
[code]

[2022-03-29 16:59] seeker89 commented on #117
This looks like a pretty standard Goldpinger yaml, including the `HOST` envvar set to `0.0.0.0`, so I don't see anything obvious that should prevent the connectivity.

I noticed from your logs that that you're running with `azure-cni` - so I'm wondering if perhaps you have a default deny kind of networking policy in place? Just guessing here.

Perhaps you could also try to set a healthcheck on you

[2022-03-29 17:52] seeker89 commented on #117
You can exec into it, but other than the goldpigner binary, there isn't anything there to execute. If you have access to the underlying host, you can investigate the process from there.

If you remove the readiness/health probe temporarily, will you be able to reach the pods from your toolbox, like you did with the nginx? You were getting `Connection refused`, but I suspect it's because Goldpigner

[2022-03-29 22:55] pjohnst5 commented on #117
Hmm yeah @seeker89 now, when removing the readiness/health probe from the goldpinger pod, I **am** able to curl the `/healthz` port o_0

![image](https://user-images.githubusercontent.com/35265851/160719862-d9c0ebee-2f3a-4abb-b0aa-fdf2402439a1.png)

[2022-03-29 23:27] pjohnst5 commented on #117
Ah, it's because the goldpinger pod is on a different network than the kubelet
So kubelet (or whoever does readiness checks) can't talk to the goldpinger pod, but since the toolbox pods _are_ on the same network as the goldpinger pods, the toolbox pods **can** talk to the goldpinger pods
Thanks @seeker89 !

[2022-03-29 23:27] #117 closed

[2022-04-21 15:54] #54 closed

[2022-04-27 16:08] Nitive commented on #54
@vjanelle is it implemented or you don't need this functionality anymore?

[2022-10-05 12:49] maxime1907 opened #123 "Support advanced zap configuration"
**Is your feature request related to a problem? Please describe.**
We are using goldpinger on our self hosted kubernetes clusters with fluentd to gather logs into our elasticsearchs but the thing is that its not possible to adjust the logger level since its hardcoded.

**Describe the solution you'd like**
Implement a way to load a custom zap configuration through a json file as its described in th

[2022-10-07 05:34] Montana opened #125 "Long ping times"
Hey all,

Saw a similar post with this problem. When I try and install via Helm chart the default Grafana chart showed very long ping times; circa ~3 seconds for some larger clusters, and even a ten node cluster is showing ~1 to ~2 second ping times.

As one user has done, I made a new build and instrumented out the calls a bit and the reported time seems accurate, but when I hit the `/ping` endpo

[2022-10-07 05:39] seeker89 commented on #125
Ford thing to check would be your CPU limits - you might be starving them
for CPU time.

On Fri, 7 Oct 2022 at 06:34, Montana Mendy ***@***.***> wrote:

--
Best regards,
Mikolaj Pawlikowski
+44 747 330 2049

[2022-10-20 02:07] ZYao123 commented on #47
I'm working for it. Use icmp instead http /ping.But you still need to use the http api /check ans /check_all.
Maybe I should launch a pr as soon as possible.

[2022-11-24 15:28] surendarmsk1 opened #126 "prometheus metric of unhealthy node shows 100% unhealthy always"
Have Grafana dashbord configured with below query however on all times noticing 100% unhealthy status across most of the nodes. Not sure whether we are hitting the bug on default ping check of 300ms which is being timeout. Can someone assist on why this would occur? how to triage further?

<img width="1652" alt="Screenshot 2022-11-24 at 8 55 24 PM" src="https://user-images.githubusercontent.com/67